@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arimo|Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffffff;
  overflow-x: hidden;
  width: 100%;
}

/*utility classes */
.main-container {
  width: 80%;
  margin: 0 auto;
}

/* small navigation section */
.small-navigation {
  width: 100%;
  background: rgba(0, 0, 0, 0.89);
  height: 30px;
}

.small-navigation .contactgrid-SocialM-gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  grid-gap: 10px;
  line-height: 2.3;
  font-size: .8rem;
}

.small-navigation .contactgrid-SocialM-gridContainer .ContactMailHour-grid .inner-gridcontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  color: #ffffff;
  font-weight: 300;
  font-family: calibri;
}

.small-navigation .contactgrid-SocialM-gridContainer .ContactMailHour-grid .inner-gridcontainer .current-hour {
  text-align: center;
  font-weight: 500;
}

.small-navigation .contactgrid-SocialM-gridContainer .socialMedia-grid .items li {
  float: left;
  width: 15%;
}

.small-navigation .contactgrid-SocialM-gridContainer .socialMedia-grid .items ul li svg {
  width: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 3000;
}

/* main navigation section */
.main-navigation {
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px -13px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 20px -13px rgba(0, 0, 0, 0.5);
}

.main-navigation .logo {
  float: left;
  line-height: 2;
  color: #50530C;
  position: relative;
  top: 5px;
  /* float: left;
        line-height: 2;
        color: #50530C;
        position: relative;
        top: 5px;
        z-index: 5000;
        width: 100px;
        height: 70px;
        */
}

.main-navigation .logo img {
  width: 190px;
}

.main-navigation nav {
  float: right;
}

.main-navigation nav li {
  list-style: none;
  display: inline-block;
  padding: 25px 12px;
}

.main-navigation nav a {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1f1e1eab;
  font-weight: 500;
  text-transform: capitalize;
  padding: 10px 0;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 0.85rem;
}

.main-navigation nav a:hover {
  color: #000;
  border-bottom: 4px solid #ff9100;
}

.main-navigation nav .active a {
  color: #ffffff;
}

.main-navigation nav .fas {
  color: #ff9100;
  font-size: 12px;
}

.main-navigation nav .active {
  background: #50530C;
  background-image: -webkit-gradient(linear, right top, left top, from(#50530C), to(#d3d31a));
  background-image: linear-gradient(-90deg, #50530C, #d3d31a);
  background: #ff9100;
  color: #ffffff;
}

/* image slider section */
.ImageSlider-Section {
  /* the items that will display in the image */
}

.ImageSlider-Section .main-imgban {
  width: 100%;
  height: 600px;
  background: #f4f4f4;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.ImageSlider-Section .imgban {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
  top: 0;
}

.ImageSlider-Section #imgban3 {
  background-image: url("../images/apartment-ceiling-chairs-280232.jpg");
  background-size: 100% 100%;
  background-position: cover;
  background-repeat: no-repeat;
}

.ImageSlider-Section #imgban2 {
  background-image: url("../images/exterior.jpg");
  background-size: 100% 100%;
  background-position: cover;
  background-repeat: no-repeat;
}

.ImageSlider-Section #imgban1 {
  background-image: url("../images//ceiling-chandelier-contemporary-2517507.jpg");
  background-size: 100% 100%;
  background-position: cover;
  background-repeat: no-repeat;
}

.ImageSlider-Section .button-images {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: .7;
  z-index: 2000;
  cursor: pointer;
  top: 50%;
  margin: 0 10px;
}

.ImageSlider-Section .button-images:hover {
  opacity: 1;
}

.ImageSlider-Section #btn-next {
  right: 0;
}

.ImageSlider-Section .projectDisplayBox {
  width: 300px;
  height: 170px;
  background: #ffffffce;
  -webkit-background: #ffffffce;
  -moz-background: #ffffffce;
  -o-background: #ffffffce;
  position: absolute;
  z-index: 2300;
  bottom: 20%;
  border: none;
  border-radius: 0px 0px 7px 7px;
  -webkit-animation-name: dropOnImage;
          animation-name: dropOnImage;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes dropOnImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropOnImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ImageSlider-Section .projectDisplayBox .items h4 {
  font-size: 1.5rem;
  text-align: center;
  text-shadow: linear-gradient(to right, red, yellow);
  padding-top: 5px;
  padding-bottom: 5px;
}

.ImageSlider-Section .projectDisplayBox .items p {
  padding: 5px 0px 5px 20px;
  font-size: 1.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

.ImageSlider-Section .readbtn {
  text-align: center;
  position: absolute;
  bottom: -10px;
  right: 0;
  right: 0;
  left: 0;
}

.ImageSlider-Section .readbtn a {
  background: red;
  padding: 10px 30px;
  text-decoration: none;
  color: #f4f4f4;
  -webkit-transition: .6s all ease-in-out;
  transition: .6s all ease-in-out;
  border-radius: 0px 0px 7px 7px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9100), to(#ff9100));
  background-image: linear-gradient(to right, #ff9100, #ff9100);
  /* background-image: linear-gradient(to right, red, yellow); */
}

.ImageSlider-Section .readbtn a:hover {
  background: #50530C;
  /* background-image: linear-gradient(to right, green, yellow); */
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(yellow));
  background-image: linear-gradient(to right, red, yellow);
}

.why-you-choose-us-Section {
  background: #ffffff;
  height: 500px;
}

.why-you-choose-us-Section h1 {
  text-align: center;
  padding: 2em 0em;
  font-size: 2rem;
  text-transform: capitalize;
  color: #333;
  font-family: 'Arimo', sans-serif;
}

.why-you-choose-us-Section .bestWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3%;
}

.why-you-choose-us-Section .bestWrapper .box {
  background: #f4f4f4;
  border-radius: 3px;
}

.why-you-choose-us-Section .bestWrapper .box .innerBox {
  width: 80%;
  margin: 0 auto;
}

.why-you-choose-us-Section .bestWrapper .box .innerBox h2 {
  text-align: center;
  padding: 15px 0px;
  color: #333;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.why-you-choose-us-Section .bestWrapper .box .innerBox p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: .5px;
}

.why-you-choose-us-Section .bestWrapper .active {
  background: #fa8b0c;
  color: #ffffff;
  -webkit-box-shadow: 0px 51px 118px -63px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 51px 118px -63px rgba(0, 0, 0, 0.75);
}

.why-you-choose-us-Section .bestWrapper .active p {
  color: #ffffff !important;
}

.services-Section {
  padding-top: 0em;
  height: 800px;
  background: #000;
  background-image: url("../images/exterior.jpg");
  background-size: 100% 100%;
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.services-Section .projectHeader {
  background: #f4f4f4;
  width: 100%;
  text-align: center;
  color: #50530C;
  font-size: 2.5rem;
  padding: 5px;
  margin-bottom: .4em;
}

.services-Section #projectgrid1 .btn {
  margin-top: 20px;
}

.services-Section #projectgrid1 .btn a {
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
  background: #17A2B8;
  color: #ffffff;
  text-decoration: none;
}

.services-Section #projectgrid1 .btn a:hover {
  background: #08535f;
}

.services-Section #projectgrid2 .btn {
  margin-top: 20px;
}

.services-Section #projectgrid2 .btn a {
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
  background: #f38507;
  color: #ffffff;
  text-decoration: none;
}

.services-Section #projectgrid2 .btn a:hover {
  background: #7e4607;
}

.services-Section .project-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  background: #b66203;
  width: 100%;
  overflow: hidden;
  grid-gap: 0px;
  padding-bottom: 1.7rem;
}

.services-Section .projects-items {
  position: relative;
  height: 250px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ff0;
  margin: 6px;
  overflow: hidden;
}

.services-Section .projects-items .imgProj {
  width: 100%;
  position: relative;
}

.services-Section .projects-items .imgProj img {
  width: 100%;
  height: 250px;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.services-Section .projects-items:hover .imgProj img {
  width: 100%;
  height: 250px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.services-Section .projects-items .details {
  height: 250px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  opacity: 0;
  -webkit-filter: blur(7px);
          filter: blur(7px);
  -webkit-transition: 1s;
  transition: 1s;
}

.services-Section .projects-items:hover .details {
  opacity: 1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.services-Section .projects-items .details .content {
  position: absolute;
  top: 30%;
  text-align: center;
}

.servicesSection {
  height: 500px;
  margin-top: 1rem;
  position: relative;
  background-image: url("../images/dev/architecture-2178915_1920.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: cover;
  color: #ffffff;
}

.servicesSection .overlay {
  position: absolute;
  height: 500px;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.servicesSection .overlay h1 {
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.servicesSection .overlay .exterior-nd-interior-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

.servicesSection .overlay .exterior-nd-interior-grid h3 {
  font-size: 2rem;
  color: #f78e16;
}

.servicesSection .overlay .exterior-nd-interior-grid .interiorHeader {
  text-align: center;
  position: relative;
  right: 100px;
}

.servicesSection .overlay .exterior-nd-interior-grid ul {
  padding-left: 0;
}

.servicesSection .overlay .exterior-nd-interior-grid li {
  font-size: 1.3rem;
  padding: 15px 0px;
  list-style: none;
}

.servicesSection .overlay .interior-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}
/*# sourceMappingURL=main.css.map */